<h1>Drank</h1>

<% unless current_user %>
  <%= link_to "Login", login_path %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'landing-page', 'data-turbolinks-track' => true %>
<% end %>
