<%= render partial: "layouts/navbar" %>

<h1>LandingPages#index</h1>
<p>Find me in app/views/landing_pages/index.html.erb</p>

<div id="weather">
  <%#= @loc.city %>
  The weather in Denver, CO is currently <%= @current_conditions %> degrees.
</div>


<div id="map">
  <%# byebug  %>
  <img src="https://maps.googleapis.com/maps/api/staticmap?center=39.749654299999996,-105.0002049&zoom=14&size=600x600"/>
</div>
