<h1>LandingPages#index</h1>
<p>Find me in app/views/landing_pages/index.html.erb</p>

<div id="weather">
</div>


<div id="map">
  <img src="https://maps.googleapis.com/maps/api/staticmap?center=39.751438,-105.071839&zoom=14&size=600x600"/>
</div>
