<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% if current_user %>
  <p>hello, <%= current_user.name %></p>
  <br>
  <%= image_tag current_user.image_url %>
  <br>
  <br>
  <%= link_to "Logout", logout_path %>
<% end %>

<br>
