// map
var map;
var coordinates;
function initMap() {
  coordinates = coords();

  map = new google.maps.Map(document.getElementById('map'), {
    center: coordinates,
    zoom: 13,
    scrollwheel: false
  });

  userMarker();
  geocoder();

  var drink = { drink: $('#recommended').text() };
  loadRestaurants(drink);
}

// lat, lng
function coords() {
  return { lat: $('#coordinates').data('lat'),
           lng: $('#coordinates').data('lng') };
}

function userMarker() {
  new google.maps.Marker({
    position: coordinates,
    map: map,
    icon: 'https://maps.google.com/mapfiles/ms/icons/yellow-dot.png'
  });
}

function geocoder() {
  var geocoder = new google.maps.Geocoder;
  geocoder.geocode({'location': coordinates}, setLocation);
}

function setLocation(results, status) {
  if (status === 'OK') var components = results[1].address_components;

  var location = {};
  components.forEach(function(address_obj) {
    for (var prop in address_obj) {
      if (prop === 'types') {
        if (address_obj[prop].indexOf('locality') !== -1) {
          location.city = address_obj.long_name;
        } else if (address_obj[prop].indexOf('administrative_area_level_1') !== -1) {
          location.state = address_obj.short_name;
        }
      }
    }
  });

  loadDash(location);
}

// load details to dashboard
function loadDash(location) {
  postCityState(location);
  currentConditions(location);
}

function postCityState(location) {
  $.ajax({
    url: "/city_state",
    type: "POST",
    data: location,
    error: function(message) {
      console.error(message);
    }
  });
}

// weather
function currentConditions(location) {
  var city = location.city.indexOf(" ") !== -1 ? location.city.replace(" ", "_") : location.city;

  $.ajax({
    url: "https://api.wunderground.com/api/20e32ff3e81ba1e5/geolookup/conditions/q/" + location.state + "/" + city + ".json",
    dataType: "jsonp",
    success: temp
  });
}

// post current temp
function temp(parsed_json) {
  var temp_f = parsed_json.current_observation.temp_f;

  $.ajax({
    url: "/current_conditions",
    type: "POST",
    data: { temp_f: temp_f },
    error: function(message) {
      console.error(message);
    }
  });
}

function loadRestaurants(drink) {
  $.ajax({
    url: "/drink",
    type: "GET",
    data: drink,
    dataType: "json",
    success: restaurantMarkers,
    error: function(message) {
        console.error(message);
    }
  });
}

var markers = [];
var infoWindows = [];
function restaurantMarkers(restaurants) {
  markers.forEach(function(marker) {
    marker.setMap(null);
  });

  markers = [];
  infoWindows = [];

  for (var i = 0; i < restaurants.length; i++) {
    var restaurantHash = restaurants[i].hash;

    var contentString =
      '<div class="restaurant">' +
      '<h5><a href=' + restaurantHash.url + '>' + restaurantHash.name + '</a></h5>' +
      '<p>' + restaurantHash.location.display_address[0] + '</p>' +
      '<p>' + restaurantHash.location.display_address[1] + '</p>' +
      '<ul>' +
      '<li><img src=' + restaurantHash.rating_img_url + '></li>' +
      '<li> ' + restaurantHash.review_count + ' reviews' + '</li>' +
      '</ul>' +
      '</div>';

    infoWindows.push(new google.maps.InfoWindow({ content: contentString }));

    var rest_coord = {
      lat: restaurantHash.location.coordinate.latitude,
      lng: restaurantHash.location.coordinate.longitude
    };

    markers.push(new google.maps.Marker({
      position: rest_coord,
      map: map,
      title: restaurantHash.name
    }));
  }

  markers.forEach(function(marker, index) {
    marker.addListener('click', function() {
      infoWindows[index].open(map, marker);
    });
  });
}

function dropdownItemSelect() {
  $('.dropdown-menu').children().children().on("click", function(drinkOption) {
    updateRecommended(drinkOption);
  });

}

function updateRecommended(drinkOption) {
  var drink = { drink: $(drinkOption).text() };
  $.ajax({  url: "/drink",
            type: "GET",
            data: drink,
            dataType: "json",
            success: restaurantMarkers,
            error: function(message) {
                console.error(message);
            }
        });
  $('#recommended').text(drink.drink);
}

$(document).ready(function() {
  dropdownItemSelect();
});
