// dropdown menu
function dropdownItemSelect() {
  $('.dropdown-menu').children().children().on("click", updateRecommended);
}

function updateRecommended() {
  var drink_type = {drink_type: $(this).text()};
  $.ajax({  url: "/drink_type",
            type: "POST",
            data: drink_type,
            success: function() {
                console.log(drink_type);
            },
            error: function(message){
                console.error(message);
            }
        });
  $('.recommended').text(drink_type['drink_type']);

  // $.ajax({  url: "/users/show",
  //           type: "GET",
  //           data: restaurants,
  //           success: function() {
  //               console.log("rendering");
  //           },
  //           error: function(message){
  //               console.error(message);
  //           }
  //       });

  // $( "#map" ).remove();
  // $( "script" ).remove();
  // $( "body" ).append( "<div id='map'></div>" );
  // appendMapURL();
}

var restaurantList;
function restaurants() {
  restaurantList = $('#restaurants').data('restaurants');
  return restaurantList;
}

// map
function coordinates() {
  return { lat: $('#coordinates').data('lat'),
           lng: $('#coordinates').data('lng') };
}

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: coordinates(),
    zoom: 14
  });

  restaurants().forEach(function (restaurant) {
    var restaurantHash = restaurant['hash'];

    var contentString =
      '<div class="restaurant">' +
      '<h5><a href=' + restaurantHash['url'] + '>' + restaurantHash['name'] + '</a></h5>' +
      '<p>' + restaurantHash['location']['display_address'][0] + '</p>' +
      '<p>' + restaurantHash['location']['display_address'][1] + '</p>' +
      '<ul>' +
      '<li><img src=' + restaurantHash['rating_img_url'] + '></li>' +
      '<li> ' + restaurantHash['review_count'] + ' reviews' + '</li>' +
      '</ul>' +
      '</div>';

    eval("infowindow" + restaurantList.indexOf(restaurant) + " = " + "new google.maps.InfoWindow({ content: contentString })");

    var rest_coord = {
      lat: restaurantHash['location']['coordinate']['latitude'],
      lng: restaurantHash['location']['coordinate']['longitude']
    };

    eval("marker" + restaurantList.indexOf(restaurant) + "=" + "new google.maps.Marker({" +
      "position: rest_coord," +
      "map: map," +
      "title: restaurantHash['name']" +
    "})");

    eval("marker" + restaurantList.indexOf(restaurant)).addListener('click', function() {
         eval("infowindow" + restaurantList.indexOf(restaurant)).open(map, eval("marker" + restaurantList.indexOf(restaurant)));
     });
  });

}

$(document).ready(function() {
  dropdownItemSelect();
});
