/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
  overflow: none;
}
