.dashboard
  background: rgba(255, 255, 255, .5)
  width: 1090px
  margin-top: 50px
  padding-top: 10px
  padding-bottom: 10px

#weather
  font-size: 125%

#weather h2
  font-size: 300%
  font-weight: bold

#weather h1
  font-size: 500%

table
  text-align: left
  position: relative
  left: 320px

#map
  height: 80%
  width: 80%
  margin: auto
  margin-top: 60px
  margin-bottom: 80px

// restaurant pins on map
.restaurant h5
  margin-bottom: 3px

.restaurant p
  margin: 1px
  color: black

.restaurant ul
  margin-top: 6px
  padding-left: 0

.restaurant li
  display: inline
  color: black
